body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* ヘッダー */
.header {
    background-color: black;
    padding: 15px;
}

.header__logo-image {
    width: 150px;
    height: auto;
    text-align: left;
}